<!DOCTYPE html>
<html lang="fr">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>EPITYGMATA | Boutique</title>
     <link rel="stylesheet" href="../Stylesheets/boutique.css">
     <link rel="stylesheet" href="../Stylesheets/banniere.css">
     <link rel="stylesheet" href="../Stylesheets/recherche.css">
     <link rel="stylesheet" href="../Stylesheets/animations.css">

</head>
<body>
    
     <section class="barrerech">
          <nav class="barrederecherche">
               <a href="https://discord.gg/zU85us4KnS"><img src="../img/logodiscord.jpg" alt="signature"
                         class="signaturebarrerech"></a>
               <a href="avis.html" class="avisrech">Avis </a>
               <a href="index.html" class="indexrech">Page d'accueil </a>
               <a href="boutique.html" class="boutiquerech">Boutique </a>
               <!--<a href="contact.html" class="contactrech">Contactez-nous</a>-->
               <a href="contact.html" class="contactrech">Contactez-Nous</a>
          </nav>
          <style>
               .indexrech{
                    background-color: #ffffff;
                    color: #000000;
               }
               .indexrech:hover{
                    color: #000000;
                    background-color: rgb(14, 162, 210);
               }
               .avisrech {
                    background-color: #ffffff;
                    color: #000000;
               }
               .avisrech:hover {
                    color: #000000;
                    background-color: rgb(14, 162, 210);
               }
               .boutiquerech{
                    background-color: rgb(14, 162, 210);
                    color: #000000;
               }
               .boutiquerech:hover{
                    color: #ffffff;
                    background-color: rgb(14, 162, 210);
               }
          </style>
     </section>
    
     <!--<span class="linebreak"></span>-->
     <main>
          <h1>Nos produits</h1>
          <p>
               Nos produits sont livrés dans les temps imposés. Nous y mettrons toutes nos connaissances, notre savoir-faire et notre passion,
               <br>
               afin que
               vous puissiez voir vos rêves
               devenir réalités. Contactez nous par mail, <a href="https://discord.gg/nKmrsHdQ4v">discord</a> ou sur <a href="commande.html">cette page</a> pour nous détailler
               <br>
               votre commande,
               plus elle sera détaillée, plus nous pourrons rester fidèle à vos rêves.
          </p>
     </main>

     <hr width="60%" />
<!--hr (Horizontal right) permet de faire une ligne séparatrice-->


     <header>
          <h1>Offres Sites web</h1>
     </header>
     <section class="sitesweb">

          <div class="tableaugris">
               <h2 class="titletbgris">Offre "Premium"</h2>
               <p class="prixtbgris">
                    <span class="price">60</span><span class="bold">.00€</span> <span class="linebreak"></span>
                    <span class="italic">À partir de</span>
               </p>
               <h3>Parfaite pour les petits business ou pour vos projets!</h3>
               <p class="linestbgris">🎱 8 pages</p>
               <p class="linestbgris">✔️ SEO (Search Engine Optimization)</p>
               <p class="linestbgris">✔️ Intégration Google Maps</p>
               <p class="linestbgris">✔️ Téléchargement de contenu</p>
               <p class="linestbgris">❌ Page de paiement</p>
               <p class="linestbgris">❌ Onglet de connexion</p>
               <p class="linetbgrisspecial">Développement en 8 - 12 jours ouvrés.</p>
               <div>
                    <a href="commande.html" class="boutonboutique">Commandez maintenant</a>
               </div>
          </div>

          <div class="tableaudark">
               <h2 class="titletbdark">Offre "Pro"</h2>
               <p class="prixtbdark">
                    <span class="price">Uniquement sur devis</span>
               </p>
               <h3>Développez votre business, votre projet et recevez des paiements!</h3>
               <p class="linestbdark">✨Précédentes offres incluses!</p>
               <p class="linestbdark">✔️ 15 pages</p>
               <p class="linestbdark">✔️ Page de paiement/panier</p>
               <p class="linestbdark">✔️ Plugins illimités</p>
               <p class="linetbdarkspecial">Développement selon cahier des charges.</p>
               <div>
                    <a href="commande.html" class="boutonboutique">Commandez-ici</a>
               </div>
          </div>

          <div class="tableaubright">
               <h2 class="titletbbright">Offre "basique"</h2>
               <p class="prixtbbright">
                    <span class="price">40</span><span class="bold">.00€</span> <span class="linebreak"></span>
                    <span class="italic">À partir de</span>
               </p>
               <h3>Une offre basique pour vos sites entre amis ou projets scolaires.</h3>
               <p class="linestbbright">✨Page réactives</p>
               <p class="linestbbright">✋ 5 pages</p>
               <p class="linestbbright">✔️ 3 plugins/extensions inclues</p>
               <p class="linestbbright">❌ Page de paiement</p>
               <p class="linestbbright">❌ Téléchargement de contenu</p>
               <p class="linetbbrightspecial">Développement en 3 - 5 jours ouvrés.</p>
               <div>
                    <a href="commande.html" class="boutonboutique">Contactez-nous</a>
               </div>
          </div>
     </section>
     
     <hr width="60%" size="2 px"/>
     

     <header>
          <h1>Développement de Bot Discord</h1>
     </header>
     <section class="botdiscord">
          
          <div class="tableaugris">
               <h2 class="titletbgris">Bot de Modération</h2>
               <p class="prixtbgris">
                    <span class="price">20</span><span class="bold">.00€</span> <span class="linebreak"></span><span class="italic">À partir de</span>
               </p>
               <h3 class="grishtrois">Bot utilisé pour la modération d'un ou plusieurs serveurs.</h3>
               <p class="linestbgris">✔️ Auto-Modération</p>
               <p class="linestbgris">✔️ Commandes modération illimitées</p>
               <p class="linestbgris">❌ Support prioritaire</p>
               <p class="linestbgris">❌ Hébergement (1€/mois)</p>
               <p class="linetbgrisspecial">Développement en 3 - 5 jours ouvrés.</p>
 
               <div>
                    <a href="commande.html" class="boutonboutique">Commandez maintenant</a>
               </div>
          </div>

          <div class="tableaudark">
               <h2 class="titletbdark">Bot simple</h2>
               <p class="prixtbdark">
                    <span class="price">20</span><span class="bold">.00€</span> <span class="linebreak"></span><span class="italic">À partir de</span>
               </p>
               <h3>Bot utilisé pour des fonctionnalités simples.</h3>
               <p class="linestbdark">✨Badge "Développeur" sur Discord inclus!</p>
               <p class="linestbdark">✔️ Auto-Modération</p>
               <p class="linestbdark">✔️ Commandes simples illimitées</p>
               <p class="linestbdark">❌Commandes complexes</p>
               <p class="linestbdark">❌Hébergement (1€/mois)</p>
               <p class="linetbdarkspecial">Développement en 6 - 12 jours ouvrés.</p>
               <div>
                    <a href="commande.html" class="boutonboutique">Commandez-ici</a>
               </div>
          </div>

          <div class="tableaubright">
               <h2 class="titletbbright">Bot avancé</h2>
               <p class="prixtbbright">
                    <span class="price2">Uniquement sur devis</span>
                    <style>
                         .price2 {
                              font-size: 45px;
                              font-weight: 700;
                         }
                    </style>
               </p>
               <h3>Parfait pour les personnes ayant besoin de mini-jeux, de connexion à minecraft ou d'un bot multi-tâches!</h3>
               <p class="linestbbright">✨Badge Discord "Développeur" inclus!</p>
               <p class="linestbbright">✔️ Toutes les fonctionnalité</p>
               <p class="linestbbright">✔️ Commandes complexes illimitées</p>
               <p class="linestbbright">✔️ Assistance <strong>gratuite</strong> et <strong>prioritaire</strong></p>
               <p class="linestbbright">✔️ Hébergement <strong>Gratuit</strong>*</p>
               <p class="linetbbrightspecial">Développement soumis au devis proposé.</p>
               <div>
                    <a href="commande.html" class="boutonboutique">Contactez-nous</a>
               </div>
          </div>
     </section>

<hr width="60%">

     <header>
          <h1>Développement de Serveurs Minecraft</h1>
     </header>
     <section class="devservmc">

          <div class="tableaugris">
               <h2 class="titletbgris">Offre "Peaceful"</h2>
               <p class="prixtbgris">
                    <span class="price">50</span><span class="bold">.00€</span> <span class="linebreak"></span><span class="italic">À partir de</span>
               </p>
               <h3>Cette offre conviendra à toutes les personnes voulant un serveur entre amis ou un petit serveur!</h3>
               <p class="linestbgris">✔️ Configuration basique</p>
               <p class="linestbgris">5️⃣ Cinq ranks configurés</p>
               <p class="linestbgris">✔️ Permissions basiques</p>
               <p class="linestbgris">✔️ 10 plugins basiques*</p>
               <p class="linestbgris">❌ Intégration discord</p>
               <p class="linestbgris">❌ Anti-Cheat</p>
               <p class="linestbgris">❌ Boutique en ligne</p>
               <p class="linetbgrisspecial">Configuration livrée sous 3 - 5 jours ouvrés</p>
               <div>
                    <a href="commande.html" class="boutonboutique">Commandez maintenant</a>
               </div>
          </div>
          
          <div class="tableaudark">
               <h2 class="titletbdark">Offre "Gold"</h2>
               <p class="prixtbdark">
                    <span class="price">45</span><span class="bold">.00€</span> <span class="linebreak"></span><span class="italic">À partir de</span>
               </p>
               <h3>Création d'un serveur destiné à une communauté de confiance, comme une communauté twitch, ou youtube.</h3>
               <p class="linestbdark">⭐ Comprend l'offre "Peaceful"</p>
               <p class="linestbdark">♾️ Ranks illimités</p>
               <p class="linestbdark">✔️ Permissions avancées</p>
               <p class="linestbdark">✔️ 10 plugins avancés (+10 simples)</p>
               <p class="linestbdark">✔️ Assistance 1 mois</p>
               <p class="linestbdark">❌ Anti-Cheat</p>
               <p class="linestbdark">❌ Boutique en ligne</p>
               <p class="linetbdarkspecial">Configuration livrée sous 6 - 12 jours ouvrés</p>
               <div>
                    <a href="commande.html" class="boutonboutique">Commencer</a>
               </div>
          </div>

          <div class="tableaubright">
               <h2 class="titletbbright">Offre "Diamond"</h2>
               <p class="prixtbbright">
                    <span class="price">50</span><span class="bold">.00€</span> <span class="linebreak"></span><span class="italic">À partir de</span>
               </p>
               <h3>
                    Pour les plus gros serveurs aux grosses ambitions, un
                    service 100% personnalisé avec les plus grosses
                    features
               </h3>
               <p class="linestbbright">✨ Tutoriel "comment modifier son serveur minecraft" <strong>Offert</strong></p>
               <p class="linestbbright">♾️ <strong>Ranks illimités</strong></p>
               <p class="linestbbright">♾️ <strong>Plugins illimités</strong></p>
               <p class="linestbbright">✔️ <strong>Intégration discord</strong></p>
               <p class="linestbbright">✔️ <strong>Assistance 6 mois</strong></p>
               <p class="linestbbright">✔️ <strong>Anti-Cheat</strong></p>
               <p class="linestbbright">✔️ <strong>Boutique en ligne</strong></p>
               <p class="linetbbrightspecial">Configuration soumise au devis</p>
               <div>
                    <a href="commande.html" class="boutonboutique">Contactez-nous</a>
               </div>
          </div>
     </section>

<hr width="60%" />

     <header>
          <h1>Pré-config minecraft et discord</h1>
     </header>
     <section class="preconfig">

          <div class="preconfigdiscord">
               
                  <div class="disccontainer">
                         <h2>Pré-config Discord</h2>
                         <p class="p1"><span class="bold">Vous ne voulez pas attendre?</span> Il vous faut un serveur tout de suite?</p>
                         <p class="p2">
                               <span class="underline">Nous avons la solution: nous proposons des serveurs pré-configurés!</span>
                               Serveurs <span class="bold">communautaires</span>,<span class="bold">mini-jeux</span>,<span class="bold">business</span>,
                               <span class="bold">communauté influenceurs</span>, ou juste pour <span class="bold">vous et vos amis</span>, <span class="underline">Nous avons ce qu'il vous faut!</span>
                         </p>
                         <a href="https://discord.com/invite/nKmrsHdQ4v" class="boutonpage">Recevez votre serveur ICI</a>
                         <div class="tmprcpdsc">
                               <img src="../img/icons8-clock-64.png" alt="horloge rapide" class="fasttime">
                               <p class="tempsreponse">Temps moyen avant réception du produit: 4 Minutes</p>
                         </div>
                  </div>
               
               <img src="../img/Discord-Basic-Offer.png" alt="Discord" class="imagediscord">
          </div>

          <div class="preconfigmc">
               <img src="../img/minecraft peaceful option serveurs.jpg" alt="peaceful minecraft scenary" class="imagemc">
               
                  <div class="mccontainer">
                    <h2>Pré-config Minecraft</h2>
                    <p class="p1">Vous ne voulez pas vous embêter à créer un serveur, ou vous ne savez pas ce que vous voulez ?</p>
                    <p class="p2">
                         <span class="bold">Nos pré-config sont faites pour vous</span>, rapide et peu onéreuses elles vous permettent 
                         d'expérimenter <span class="underline">sans conséquences</span>, ou d'avoir un <span class="underline">serveur qualitatif prêt à l'emploi!</span> 
                         Nous vos proposons des pré-config <span class="bold">faction</span>, <span class="bold">skyblock</span> et <span class="bold">mini-jeux</span> !
                    </p>
                    <a href="https://discord.com/invite/nKmrsHdQ4v" class="boutonpage" >Recevez votre serveur ICI</a>
                    
                    <div class="tmprcpmc">
                         <img src="../img/icons8-clock-64.png" alt="horloge rapide" class="fasttime">
                         <p class="tempsreponse" >Temps de réception et de configuration moyen <span class="linebreak"> du produit: 11 minutes</p>
                    </div>
               </div>
          </div>
     </section>

<hr width="60%">


     <header>
          <h1>Plugins Minecraft</h1>
     </header>

     <section class="devplugins">

          <div class="tableaugris">
               <h2 class="titletbgris">Plugin Simple</h2>
               <p class="prixtbgris">
                    <span class="price">20</span><span class="bold">.00€</span> <span class="linebreak"></span><span class="italic">À partir de</span>
               </p>
               <h3>Cette offre vous permettra de donner vie à vos idées les plus simples (par exemple un système de home).</h3>
               <p class="linestbgris">✔️ Commandes simples</p>
               <p class="linestbgris">✔️ Assistance 2 semaines</p>
               <p class="linestbgris">✔️ Fichier de configuration</p>
               <p class="linestbgris">❌ Documentation</p>
               <p class="linestbgris">❌ Fonctionnalités de jeu</p>
               <p class="linetbgrisspecial">Développement sous 2 à 5 jours.</p>
               <div>
                    <a href="commande.html" class="boutonboutique">Commander maintenant</a>
               </div>
          </div>     

          <div class="tableaudark">
               <h2 class="titletbdark">Plugin Standard</h2>
               <p class="prixtbdark">
                    <span class="price">50</span><span class="bold">.00€</span> <span class="linebreak"></span><span class="italic">À partir de</span>
               </p>
               <h3>Une offre Pour faire naître vos idées les plus complètes!</h3>
               <p class="linestbdark">✔️ Fonctionnalités de jeu</p>
               <p class="linestbdark">✔️ Assistance de 1 mois</p>
               <p class="linestbdark">✔️ Fichier de configuration</p>
               <p class="linestbdark">❌ Documentation</p>
               <p class="linestbdark">❌ Service prioritaire</p>
               <p class="linetbdarkspecial">Développement sous 6 à 12 jours.</p>
               <div>
                    <a href="commande.html" class="boutonboutique">Commencer maintenant!</a>
               </div>
          </div>    

          <div class="tableaubright">
               <h2 class="titletbbright">Plugin Premium</h2>
               <p class="prixtbbright">
                    <span class="price2">Uniquement sur devis</span>
               </p>
               <h3>Un plugin qui saura ravir créateurs de serveurs, joueurs solo ou joueurs professionnels.</h3>
               <p class="linestbbright">✔️ Accès à toutes les possibilités</p>
               <p class="linestbbright">✔️ Assistance 6 mois</p>
               <p class="linestbbright">✔️ Fichier de configuration</p>
               <p class="linestbbright">✔️ Documentation</p>
               <p class="linestbbright">✔️ Service prioritaire 7/7j</p>
               <p class="linetbbrightspecial">Développement selon date annoncée lors du devis.</p>
               <div>
                    <a href="commande.html" class="boutonboutique">Contactez-nous</a>
               </div>
          </div>
     </section>

<hr width="60%">
     
<section class="graphismesec">
     <div class="tableaudark">
          <h2 class="titletbdark">Graphisme</h2>
          <p class="prixtbdark">
               <span class="price">Uniquement Sur Devis</span>
          </p>
               <h3>Un logo, bannière, design de produit, etc.</h3>
               <p class="linestbdark">♾️ Multiples versions pour assurer la bonne création du produit</p>
               <p class="linestbdark">✔️ Personnalisation complète</p>
               <p class="linestbdark">✔️ Contact avec un graphiste dédié</p>
               <p class="linestbdark">✔️ Propriété complète de l'oeuvre</p>
               <p class="linestbdark">✨ Convient aux serveurs minecraft, aux business, aux chaînes youtubes, etc.</p>
               <p class="linetbdarkspecial">Délai selon devis gratuit.</p>
          <div>
               <a href="commande.html" class="boutonboutique">Commandez dès maintenant!</a>
          </div>
     </div>
</section>

<hr width="60%">

     <section class="autreboutique">
          <h2>Besoin d'autres services?</h2>
          
          <p>
               Nous proposons des services de configuration, de traduction de plugins, de création de datapacks, de maintenance de serveurs discord/minecraft
               ainsi que de la création de bot discord.
               <span class="totservices">Vous pouvez consulter la totalité de nos services <a href="detailservices.html">sur cette page web!</a></span>
          </p>
          <p>
               <span class="plusdetailsun"> Vous souhaitez obtenir plus de détails ?</span>
               <div> Rejoignez notre <a href="https://discord.gg/nKmrsHdQ4v">serveur discord</a> et posez vos questions !</div>
          </p>

     </section>

     <div class="banniere">
          <div class="liensutiles">
               <p>
               <div><span class="bannieretitle">Liens utiles</span><span class="linebreak"></span></div>
               <a href="index.html" class="lienbanniere">Page d'accueil</a><span class="linebreak"></span>
               <a href="commande.html" class="lienbanniere">Commandez ici!</a><span class="linebreak"></span>
               <a href="boutique.html" class="lienbanniere">Nos Services</a><span class="linebreak"></span>
               <a href="detailservices.html" class="lienbanniere">Tarifs Détaillés</a><span class="linebreak"></span>
               <a href="credits.html" class="lienbanniere">Crédits</a><span class="linebreak"></span>
               <a href="contact.html" class="lienbanniere">Contactez-nous</a><span class="linebreak"></span>
               </p>
          </div>
          <div class="aproposdenous">
               <p>
                    <span class="bannieretitle">À propos de nous</span>
                    <span class="linebreak"></span>
               </p>
               <p class="bannieretextpropos">
                    Lancé en 2020, EPITYGMATA vous propose de donner vie à vos idées,
                    <br>
                    que ce soit en développant ou en vous proposant des services de graphisme.
                    <br>
                    <span class="citationgael">"Nous essayons de vous proposer l'expérience la plus transparente et
                         agréable possible,
                         <br> n'hésitez pas à nous laisser un avis pour témoigner de votre expérience chez nous !"</span>
                    <span class="linebreak"></span>
               </p>
               <p class="gaelcitation">
                    - Gaël Tournier, CEO d'EPITYGMATA.
               </p>
          </div>
          <div class="nousjoindre">
               <p>
                    <span class="nousjoindrebannieretitle">Nous joindre</span>
               <div>
                    <img src="../img/comment.png" alt="icone comment" class="iconcomment">
                    <a href="contact.html">Contactez-nous</a>
               </div>
               <div>
                    <img src="../img/email.png" alt="icône email" class="iconmail">
                    <a
                         href="https://mail.google.com/mail/u/0/?fs=1&tf=cm&source=mailto&to=gael.tournier@epitygmata.fr">gael.tournier@epitygmata.fr</a>
               </div>
               <div>
                    <img src="../img/discord.png" alt="icône discord" class="icondiscord">
                    <a href="https://discord.gg/nKmrsHdQ4v">Rejoins notre discord !</a>
               </div>
               </p>
          </div>
     </div>
     <div class="copyright">
          <p>Copyright © Epitygmata </p>
     </div>



</body>
</html>