<!DOCTYPE html>
<html lang="fr">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Crédits</title>
     <link rel="stylesheet" href="../Stylesheets/banniere.css">
     <link rel="stylesheet" href="../Stylesheets/recherche.css">
     <link rel="stylesheet" href="../Stylesheets/credits.css">
</head>
<body>
     <section class="barrerech">
          <nav class="barrederecherche">
               <a href="https://discord.gg/zU85us4KnS"><img src="../img/logodiscord.jpg" alt="signature"
                         class="signaturebarrerech"></a>
               <a href="avis.html" class="avisrech">Avis </a>
               <a href="index.html" class="indexrech">Page d'accueil </a>
               <a href="boutique.html" class="boutiquerech">Boutique </a>
               <!--<a href="contact.html" class="contactrech">Contactez-nous</a>-->
               <a href="contact.html" class="contactrech">Contactez-Nous</a>
          </nav>
     </section>
     <main>
          <section>
               <h1>Icones du site web:</h1>
               <p>Toutes les icones proviennent de Flaticon et de Icons8.</p>
                   <div class="pagecommande">
                         <h2>Ces icônes ont étés utilisées sur la page <a href="commande.html">des commandes</a></h2>
                         <div>
                              <img src="../img/panier.png" alt="icone pannier" class="iconepanier">
                              <a href="https://www.flaticon.com/fr/icones-gratuites/panier" title="panier icônes">Panier icônes créées par iconixar - Flaticon</a>
                         </div>
                         <div>
                              <img src="../img/cadenas.png" alt="cadenas icone" class="iconecadenas">
                              <a href="https://www.flaticon.com/fr/icones-gratuites/cadenas" title="cadenas icônes">Cadenas icônes créées par Dreamstale - Flaticon</a>
                         </div>
                         <div>
                              <img src="../img/pay-pal.png" alt="paypal icone" class="iconepaypal">
                              <a href="https://www.flaticon.com/fr/icones-gratuites/pay-pal" title="pay pal icônes">Pay pal icônes créées par Freepik - Flaticon</a>
                         </div>
                         <div>
                              <img src="../img/avion.png" alt="icone avion" class="iconeavion">
                              <a href="https://www.flaticon.com/fr/icones-gratuites/avion" title="avion icônes">Avion icônes créées par th studio - Flaticon</a>
                         </div>
                    </div>  
                    <div class="pageboutique">
                         <h2>Ces icônes ont étés utilisées sur la page <a href="boutique.html">boutique</a></h2>
                         <div>
                              <img src="../img/fast-time.png" alt="horloge rapide" class="fasttime">
                              <a href="https://www.flaticon.com/free-icons/clock" title="clock icons">Clock icons created by Freepik - Flaticon</a>
                         </div>
     
                    </div>
                    <div class="pagedetails">
                         <h2>Ces icônes ont étés utilisées sur la page <a href="detailservices.html">détails des services</a></h2>
                         <div>
                              <img src="../img/format-de-fichier-pdf.png" alt="icone pdf" class="iconpdf">
                              <a href="https://www.flaticon.com/fr/icones-gratuites/pdf" title="pdf icônes">Pdf icônes créées par Vectorslab - Flaticon</a>
                         </div>
                    </div>
                    <div class="pagebanniere">
                         <h2>Ces icônes ont étés utilisées pour la bannière du site</h2>
                         <div>
                              <img src="../img/comment.png" alt="icône comment" class="iconcomment">
                              <a href="https://www.flaticon.com/free-icons/message" title="message icons">Message icons created by apien - Flaticon</a>
                         </div>
                         <div>
                              <img src="../img/email.png" alt="email icone" class="iconemail">
                              <a href="https://www.flaticon.com/free-icons/email" title="email icons">Email icons created by Freepik - Flaticon</a>
                         </div>
                         <div>
                              <img src="../img/discord.png" alt="icone discord" class="icondiscord">
                              <a href="https://www.flaticon.com/free-icons/discord" title="discord icons">Discord icons created by Laisa Islam Ani - Flaticon</a>
                         </div>
                    </div>
                    <div class="pageindex">
                         <h2>Ces icônes ont étés utilisées sur la <a href="index.html">page principale du site</a></h2>
                         <div>
                              <img src="../img/icons8-quote-48.png">
                              <a target="_blank" href="https://icons8.com/icon/nSiiTdPeCcG1/quote-left">Quote</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>
                         </div>
                    </div>
          </section>
     </main>
     <section>
          <div class="banniere">
               <div class="liensutiles">
                    <p>
                    <div><span class="bannieretitle">Liens utiles</span><span class="linebreak"></span></div>
                    <a href="index.html" class="lienbanniere">Page d'accueil</a><span class="linebreak"></span>
                    <a href="commande.html" class="lienbanniere">Commandez ici!</a><span class="linebreak"></span>
                    <a href="boutique.html" class="lienbanniere">Nos Services</a><span class="linebreak"></span>
                    <a href="detailservices.html" class="lienbanniere">Tarifs Détaillés</a><span class="linebreak"></span>
                    <a href="credits.html" class="lienbanniere">Crédits</a><span class="linebreak"></span>
                    <a href="contact.html" class="lienbanniere">Contactez-nous</a><span class="linebreak"></span>
                    </p>
               </div>
               <div class="aproposdenous">
                    <p>
                         <span class="bannieretitle">À propos de nous</span>
                         <span class="linebreak"></span>
                    </p>
                    <p class="bannieretextpropos">
                         Lancé en 2020, EPITYGMATA vous propose de donner vie à vos idées,
                         <br>
                         que ce soit en développant ou en vous proposant des services de graphisme.
                         <br>
                         <span class="citationgael">"Nous essayons de vous proposer l'expérience la plus transparente et
                              agréable possible,
                              <br> n'hésitez pas à nous laisser un avis pour témoigner de votre expérience chez nous
                              !"</span>
                         <span class="linebreak"></span>
                    </p>
                    <p class="gaelcitation">
                         - Gaël Tournier, CEO d'EPITYGMATA.
                    </p>
               </div>
               <div class="nousjoindre">
                    <p>
                         <span class="nousjoindrebannieretitle">Nous joindre</span>
                    <div>
                         <img src="../img/comment.png" alt="icone comment" class="iconcomment">
                         <a href="contact.html">Contactez-nous</a>
                    </div>
                    <div>
                         <img src="../img/email.png" alt="icône email" class="iconmail">
                         <a
                              href="https://mail.google.com/mail/u/0/?fs=1&tf=cm&source=mailto&to=gael.tournier@epitygmata.fr">gael.tournier@epitygmata.fr</a>
                    </div>
                    <div>
                         <img src="../img/discord.png" alt="icône discord" class="icondiscord">
                         <a href="https://discord.gg/nKmrsHdQ4v">Rejoins notre discord !</a>
                    </div>
                    </p>
               </div>
          </div>
          <div class="copyright">
               <p>Copyright © Epitygmata </p>
          </div>
     </section>
</body>
</html>